

<p><strong>Name</strong><br> <%= p.name %></p>

<p><strong>Description</strong><br>
  <%= p.description || "none".html_safe  %>
</p>

<p><strong>Queue</strong><br>
  <%= p.queue || "none".html_safe %>
</p>